@model EcomartVietNam.Models.Product

<section class="single-banner inner-section">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">@Model.Category.category_name</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.product_name</li>
            </ol>
        </nav>
    </div>
</section>